# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Local data files
data/
output/
writer_agent/output/

# Ignore agent outputs
researcher_agent/output/
analyst_agent/output/
forecaster_agent/output/